// Colors
$color-primary: #04a5e4;
$color-primary-drk: #0080c2;
$color-primary-alt: #0e9fd7;
$color-primary-alt-2: #0094cc;
$color-primary-alt-3: #1eaee7;
$color-primary-lgt: #62c1eb;

$color-secondary: #ba321e;
$color-secondary-alt: #e91b24;
$color-secondary-alt-2: #c42d18;
$color-secondary-lgt: #f7ebe9;

$color-risk-low: #f8e81e;

$color-dark: #434343;
$color-dark-2: #282828;
$color-dark-3: #3c3c3c;
$color-dark-4: #3e3e3e;

$color-black: #000000;
$color-black-alt: #1a1a1a;
$color-white: #ffffff;
$color-gray: #d0d0d0;
$color-gray-drk: #202020;
$color-gray-lgt: #f1f1f1;
$color-gray-lgt-2: #e3e3e3;
$color-gray-lgt-3: #f5f7fa;
$color-gray-lgt-4: #b3b3b3;
$color-gray-alt: #7f7f7f;


// Typography
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

$font-main: "Ubuntu", "Helvetica", "Arial", sans-serif;